.Home {
  height: 100vh;
  width: 100%;
  background-color: rgb(3, 62, 107);
  z-index: 0;
}

.ParticleBg {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(3, 62, 107, 0),
    rgba(3, 62, 107, 1) 90%
  );
}

