.Home {
  height: 100vh;
  width: 100vw;
  background-color: rgb(3, 62, 107);

  /* position: absolute; */
  /* z-index: 0; */
  /* padding-left: 6vw; */
}

.ParticleBg {
  /* z-index: -100; */
  /* position: relative; */
  height: 100%;
  z-index: -1;
  width: 100%;
  opacity: 50%;
  background-image: linear-gradient(
    to bottom,
    rgba(3, 62, 107, 1) 0%,
    rgba(3, 62, 107, 0) 50%,
    rgba(3, 62, 107, 1) 100%
  );
}
