@keyframes arrowMove {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}

@media screen and (min-width: 1201px) {
  .HeroContainer {
    max-width: 1900px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* padding: 30vh 2em 0; */
    overflow: hidden;
  }
  .Writing {
    padding-top: 10vh;
    padding-left: 4vw;
    overflow: hidden;
  }
  .HeroContainer a {
    position: relative;
    color: #f8f8f8;
    cursor: pointer;
  }
  .HeroTitle {
    color: #f8f8f8;
    font-size: 7em;
  }

  .HeroPara {
    font-weight: lighter;
    color: #f8f8f8;
    font-size: 3em;
  }

  .HeroPara span {
    font-weight: 700;
  }
  .Arrow {
    align-self: center;
    color: white;
    font-size: 2em;
    margin-top: 30vh;
    animation: arrowMove 2s infinite ease-in-out;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .HeroContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* padding: 30vh 2em 0; */
    overflow: hidden;
  }
  .Writing {
    padding-top: 10vh;
    padding-left: 4vw;
  }
  .HeroContainer a {
    position: relative;
    color: #f8f8f8;
    cursor: pointer;
  }
  .HeroTitle {
    margin-top: 5vh;
    color: #f8f8f8;
    font-size: 7em;
  }

  .HeroPara {
    font-weight: lighter;
    color: #f8f8f8;
    font-size: 3em;
  }

  .HeroPara span {
    font-weight: 700;
  }

  .Arrow {
    align-self: center;
    color: white;
    font-size: 2em;
    margin-top: 30vh;
    animation: arrowMove 2s infinite ease-in-out;
  }
}

@media screen and (min-width: 359px) and (max-width: 767px) {
  .HeroContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .Writing {
    padding-top: 10vh;
  }
  .HeroContainer a {
    position: relative;
    color: #f8f8f8;
    cursor: pointer;
  }
  .HeroTitle {
    margin-top: 5vh;
    color: #f8f8f8;
    font-size: 5em;
    text-align: center;
  }

  .HeroPara {
    font-weight: lighter;
    color: #f8f8f8;
    font-size: 2em;
    text-align: center;
  }

  .HeroPara span {
    font-weight: 700;
  }

  .Arrow {
    align-self: center;
    color: white;
    font-size: 2em;
    margin-top: 30vh;
    animation: arrowMove 2s infinite ease-in-out;
  }
}
