.Layout {
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
}

/* .Main {
  display: flex;
  flex-flow: column;
  justify-content: center;
} */
@media screen and (min-width: 1201px) {
  .Main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
  }
}
