@media screen and (min-width: 1201px) {
  .Container404 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(3, 62, 107);
  }
  .Content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: aliceblue;
  }
  .Content h1 {
    font-size: 4em;
  }
  .Content p {
    font-size: 2em;
  }

  .ParticleBg {
    height: 100%;
    z-index: -1;
    width: 100%;
    opacity: 0.5;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .Container404 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(3, 62, 107);
  }
  .Content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: aliceblue;
  }
  .Content h1 {
    font-size: 4em;
  }
  .Content p {
    font-size: 2em;
  }

  .ParticleBg {
    height: 100%;
    z-index: -1;
    width: 100%;
    opacity: 0.5;
  }
}

@media screen and (min-width: 357px) and (max-width: 767px) {
  .Container404 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(3, 62, 107);
  }
  .Content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: aliceblue;
  }
  .Content h1 {
    font-size: 4em;
  }
  .Content p {
    font-size: 2em;
  }

  .ParticleBg {
    height: 100%;
    z-index: -1;
    width: 100%;
    opacity: 0.5;
  }
}
