.SliderContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  border: red solid 1px;
}
.SliderContainer h3 {
  color: black;
}

/* .sliderImg img {
  padding: 5px;
  width: 30vw;
} */
/* .sliderImg:hover {
  z-index: 100;
  transform: scale(1.5);
} */
